{% extends 'base.html'%}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{%endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'show_recipe_list' %}">Main page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <div>
            <img src="{{ recipe_object.picture }}" alt="tacos on a plate">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
            <p>Gluten free: {{ recipe_object.gluten_free }}</p>
        </div>
        <h2>Ingredients</h2>
        <table>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
    </main>
{% endblock content %}
