{% extends 'base.html' %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'show_recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}!
                <a href="{% url 'create_recipe' %}">Create A Recipe</a>
                <a href="{% url 'my_recipe_list' %}">List Your Recipes</a>
                <a href="{% url 'logout_user' %}">Logout</a>
            {% else %}
                <a href="{% url 'create_user' %}">Sign up</a>
                <a href="{% url 'login_user' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipeflex" aria-label="Recipe Cards">
            {% for recipe in recipe_list %}
            <div class="recipecard">
                <h3>
                    <a class="recipelink" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p>
                    Created On: {{ recipe.created_on|date:"j F Y"}}
                </p>
                <img src="{{ recipe.picture }}" alt="photo of {{ recipe.title }}">
                <div aria-label="Recipe Rating">4.3 stars</div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
