body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

h1 {
    color: darkgreen;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(255, 80, 54);
}

nav > a {
    color: white;
    padding: 16px;
}

nav > p {
    color: white;
    font-size: medium;
}

.recipelink {
    color: lightgreen;
}

.recipeflex {
    border: 3px solid green;
    padding: 5px;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipecard {
    border: 1px solid green;
    padding: 5px;
    margin: 1px;
}

a {
    text-decoration: none;
}

img {
    height: 200px;
}

tr:nth-child(odd) :not(th) {
    background: rgb(225, 225, 225);
}

footer {
    padding: 24px 48px;
    background-color: rgb(169, 201, 98);
    font-size: larger;
}
